{% raw %}{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} Update {% endraw %}{{ cookiecutter.model_name }}{% raw %} {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='{% endraw %}{{ cookiecutter.app_name }}{% raw %}' %}
{% endblock %}

{% block page_title %} Update {% endraw %}{{ cookiecutter.model_name }}{% raw %} {% endblock %}

{% block content %}
	{% include '{% endraw %}{{ cookiecutter.app_name }}/{{ cookiecutter.model_name|lower }}{% raw %}_form.html' %}
{% endblock %}
{% endraw %}